{% extends 'base.html' %}

{% block linkfile %}

{% endblock linkfile %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 pt-4">
            <div class="card">
                <div class="card-header" style="background-color: #e3f2fd; font-weight: 600">Register</div>

                <div class="card-body">
                    <div class="d-flex justify-content-center p-2 pb-1">
                        <img src="https://thumbs.dreamstime.com/b/minecraft-logo-online-game-dirt-block-illustrations-concept-design-isolated-186775550.jpg" alt="" width="25%" height="25%" > 
                    </div>
                    <div class="d-flex justify-content-center pb-2">
                        <p style="text-decoration-style: inherit;">Register to have an account</p>
                    </div>
                    <form method="post"> {% csrf_token %}

                        <div class="row mb-3">
                            <label for="email" class="col-md-4 col-form-label text-md-end">Email</label>

                            <div class="col-md-6">
                                <input id="email" type="email" name="email" placeholder="email@email.com">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="username" class="col-md-4 col-form-label text-md-end">Username</label>

                            <div class="col-md-6">
                                <input id="username" type="username" name="username" required placeholder="username">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password1" class="col-md-4 col-form-label text-md-end">Password</label>

                            <div class="col-md-6">
                                <input id="password1" type="password" name="password1" required placeholder="password">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password2" class="col-md-4 col-form-label text-md-end">Confirm password</label>

                            <div class="col-md-6">
                                <input id="password1" type="password" name="password2" required placeholder="confirm password">
                            </div>
                        </div>

                        {% for field in regist_form %}
                            <p>
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% if regist_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{ regist_form.non_field_errors }}</p>
                            </div>
                        {% endif %}

                        {% comment %} {% for field in regist_form %}
                                {% if field.help_text %}
                                    <small style="color: blue;" >{{ field.help_text }}</small>
                                {% endif %}

                                {% for error in field.errors %}
                                    <p style="color: red;" >{{error}}</p>
                                {% endfor %}
                        {% endfor %} {% endcomment %}

                        <div class="row mb-0">
                            <div class="col-md-2 offset-md-5">
                                <button type="submit" style="font-size: 1.15em;" class="btn btn-info">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}